#store-detail-page {  
    .show-favorite {
      position: relative;
    }
  
    .icon-heart-empty {
      position: absolute;
      top: 5px;
      right: 5px;
      transform: scale(1);
      transition: transform 0.3s ease;
    }
  
    .icon-heart {
      position: absolute;
      top: 5px;
      right: 5px;
      transform: scale(0);
      transition: transform 0.3s ease;
    }
  
    .show-favorite .icon-heart {
      transform: scale(1);
    }
  
    .show-favorite .icon-heart-empty {
      transform: scale(0);
    }
  
    h1 {
      margin: 0;
    }
  }
  